test-data/ComplexWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://webservice.daemonspoint.com/" name="ComplexWebServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice.daemonspoint.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservice.daemonspoint.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="customObjects" type="tns:customObjects"/>

      <xs:element name="customObjectsResponse" type="tns:customObjectsResponse"/>

      <xs:element name="echo" type="tns:echo"/>

      <xs:element name="echoResponse" type="tns:echoResponse"/>

      <xs:element name="manyObjectParameters" type="tns:manyObjectParameters"/>

      <xs:element name="manyObjectParametersResponse" type="tns:manyObjectParametersResponse"/>

      <xs:element name="manyPrimitiveParameters" type="tns:manyPrimitiveParameters"/>

      <xs:element name="manyPrimitiveParametersResponse" type="tns:manyPrimitiveParametersResponse"/>

      <xs:complexType name="manyObjectParameters">
        <xs:sequence>
          <xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg4" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg5" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg6" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg7" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg8" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg9" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="arg10" type="xs:string" minOccurs="0"/>
          <xs:element name="arg11" type="xs:string" minOccurs="0"/>
          <xs:element name="arg12" type="xs:string" minOccurs="0"/>
          <xs:element name="arg13" type="xs:string" minOccurs="0"/>
          <xs:element name="arg14" type="xs:string" minOccurs="0"/>
          <xs:element name="arg15" type="xs:string" minOccurs="0"/>
          <xs:element name="arg16" type="xs:string" minOccurs="0"/>
          <xs:element name="arg17" type="xs:string" minOccurs="0"/>
          <xs:element name="arg18" type="xs:string" minOccurs="0"/>
          <xs:element name="arg19" type="xs:string" minOccurs="0"/>
          <xs:element name="arg20">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg21">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg22">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg23">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg24">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg25">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg26">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg27">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg28">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arg29">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manyObjectParametersResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manyPrimitiveParameters">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
          <xs:element name="arg1" type="xs:int"/>
          <xs:element name="arg2" type="xs:int"/>
          <xs:element name="arg3" type="xs:int"/>
          <xs:element name="arg4" type="xs:int"/>
          <xs:element name="arg5" type="xs:int"/>
          <xs:element name="arg6" type="xs:int"/>
          <xs:element name="arg7" type="xs:int"/>
          <xs:element name="arg8" type="xs:int"/>
          <xs:element name="arg9" type="xs:int"/>
          <xs:element name="arg10" type="xs:boolean"/>
          <xs:element name="arg11" type="xs:boolean"/>
          <xs:element name="arg12" type="xs:boolean"/>
          <xs:element name="arg13" type="xs:boolean"/>
          <xs:element name="arg14" type="xs:boolean"/>
          <xs:element name="arg15" type="xs:boolean"/>
          <xs:element name="arg16" type="xs:boolean"/>
          <xs:element name="arg17" type="xs:boolean"/>
          <xs:element name="arg18" type="xs:boolean"/>
          <xs:element name="arg19" type="xs:boolean"/>
          <xs:element name="arg20" type="xs:long"/>
          <xs:element name="arg21" type="xs:long"/>
          <xs:element name="arg22" type="xs:long"/>
          <xs:element name="arg23" type="xs:long"/>
          <xs:element name="arg24" type="xs:long"/>
          <xs:element name="arg25" type="xs:long"/>
          <xs:element name="arg26" type="xs:long"/>
          <xs:element name="arg27" type="xs:long"/>
          <xs:element name="arg28" type="xs:long"/>
          <xs:element name="arg29" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="manyPrimitiveParametersResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customObjects">
        <xs:sequence>
          <xs:element name="arg0" type="tns:in" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="in">
        <xs:sequence>
          <xs:element name="i" type="xs:int"/>
          <xs:element name="d" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="f" type="xs:string" minOccurs="0"/>
          <xs:element name="m">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customObjectsResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:out" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="out">
        <xs:sequence>
          <xs:element name="ii" type="xs:int"/>
          <xs:element name="dd" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="ff" type="xs:string" minOccurs="0"/>
          <xs:element name="mm">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="key" minOccurs="0" type="xs:anyType"/>
                      <xs:element name="value" minOccurs="0" type="xs:anyType"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="echo">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="echoResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="echo">
    <part name="parameters" element="tns:echo"/>
  </message>
  <message name="echoResponse">
    <part name="parameters" element="tns:echoResponse"/>
  </message>
  <message name="customObjects">
    <part name="parameters" element="tns:customObjects"/>
  </message>
  <message name="customObjectsResponse">
    <part name="parameters" element="tns:customObjectsResponse"/>
  </message>
  <message name="manyPrimitiveParameters">
    <part name="parameters" element="tns:manyPrimitiveParameters"/>
  </message>
  <message name="manyPrimitiveParametersResponse">
    <part name="parameters" element="tns:manyPrimitiveParametersResponse"/>
  </message>
  <message name="manyObjectParameters">
    <part name="parameters" element="tns:manyObjectParameters"/>
  </message>
  <message name="manyObjectParametersResponse">
    <part name="parameters" element="tns:manyObjectParametersResponse"/>
  </message>
  <portType name="ComplexWebServiceImpl">
    <operation name="echo">
      <input wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/echoRequest" message="tns:echo"/>
      <output wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/echoResponse" message="tns:echoResponse"/>
    </operation>
    <operation name="customObjects">
      <input wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/customObjectsRequest" message="tns:customObjects"/>
      <output wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/customObjectsResponse" message="tns:customObjectsResponse"/>
    </operation>
    <operation name="manyPrimitiveParameters">
      <input wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/manyPrimitiveParametersRequest" message="tns:manyPrimitiveParameters"/>
      <output wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/manyPrimitiveParametersResponse" message="tns:manyPrimitiveParametersResponse"/>
    </operation>
    <operation name="manyObjectParameters">
      <input wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/manyObjectParametersRequest" message="tns:manyObjectParameters"/>
      <output wsam:Action="http://webservice.daemonspoint.com/ComplexWebServiceImpl/manyObjectParametersResponse" message="tns:manyObjectParametersResponse"/>
    </operation>
  </portType>
  <binding name="ComplexWebServiceImplPortBinding" type="tns:ComplexWebServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="echo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="customObjects">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="manyPrimitiveParameters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="manyObjectParameters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ComplexWebServiceImplService">
    <port name="ComplexWebServiceImplPort" binding="tns:ComplexWebServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

